.balance-description {
    font-size: 14px;
    margin-top: -5px;
}

.hidden {
    display: none;
}

.grant-active .ant-progress-text {
    color: ghostwhite;
    font-family: 'Asap', sans-serif;
}

.grant-active {
    background: #0085ad !important;
    box-shadow: inset 0 0 5px 0 gray;
    color: ghostwhite;
}

.grant-balance {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: -5px;
}

.grant-card {
    border-radius: 5px;
    background: lightgray;
    width: 95%;
    display: block;
    margin: auto;
    margin-bottom: 15px !important;
}

.grant-card:hover {
    cursor: pointer;
}

.grant-active .grant-title, .grant-active .grant-balance {
    color: ghostwhite;
}

.grant-title {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

@media (max-width: 575px) {
    .ant-card-body {
        padding: 14px !important;
    }
    .grant-active {
        height: 135px !important;
    }
    .grant-card {
        height: 135px;
    }
    .grant-id {
        font-size: 12px;
    }
    .grant-title {
        font-size: 18px;
    }
    .grant-balance {
        font-size: 30px;
    }
    .small-pie-chart {
        display: none;
    }
    .principal-investigator {
        display: none;
    }
}

.principal-investigator {
    font-size: 14px;
}