.transaction-header {
    margin-top: 30px  !important;
    font-family: 'Dosis', sans-serif;
}

.transaction-subhead {
    color: #0085ad;
}

@media (max-width: 575px) {
    .transaction-container {
        display: none;
    }
}