.metis-header {
    margin-left: 15px;
    font-size: 25px;
}

.metis-logo {
    height: 45px;
    padding-left: 20px;
    margin-top: -14px;
}

.user-image {
    height: 35px;
    width: 35px;
    margin-top: 11px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid 1px #ccc;
    float: right;
}

.logout-button {
    float: right;
    margin-right: 15px;
}

.logout-icon {
    font-size: 24px;
}

.logout-icon:hover {
    color: red;
    cursor: pointer;
}

.user-text {
    float: right;
    margin-right: 30px;
    margin-top: -3px;
    font-size: 15px;
}

.menu-control {
    font-size: 30px;
    margin-left: 15px;
}

.menu-control:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .user-text {
        display: none;
    }
}

@media (max-width: 769px) {
    .user-image {
        display: none;
    }
    .button-caption {
        margin-bottom: 30px !important;
    }
}

@media (max-width: 672px) {
    .metis-header {
        display: none;
    }
}