.modal-dsecription {
    margin-bottom: 0;
}

.autocomplete-label {
    margin-bottom: 0;
    font-weight: bold;
}

.edit-autocomplete {
    margin-top: 3px;
    margin-bottom: 10px;
}

.ant-modal-footer > .ant-btn {
    display: inline-block !important;
}