.grant-list {
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
    border-color: lightgray;
}

.grant-title {
    display: block;
    font-size: 18px;
    margin-bottom: 0;
    overflow: hidden;
    max-height: 25px;
}

.content-div {
    padding: 25px;
}

.loader {
    margin: auto;
    margin-top: 200px !important;
    display: block;
}

@media (max-width: 450px) {
    .balance-description {
        display: none
    }
    .loader {
        margin-top: 0;
    }
}