.create-button {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.button-caption {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px !important;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.create-button > .anticon {
    font-size: 50px;
    color: white;
}