@import '~antd/dist/antd.css';

body, h1, h2, h3, h4, h5, p, span, td, tr {
    font-family: 'Asap', sans-serif;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.ant-btn-primary {
    background: #0085ad;
}

.ant-card-head {
    background: #0085ad;
    opacity: 0.6;
}

.ant-modal-header {
    background: #0085ad;
    opacity: 0.6;
}

.ant-layout-sider-children, .ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical, .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right {
    background-color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #0085ad;
}

.ant-input-number {
    width: 100% !important;
}

.ant-modal-title {
    color: ghostwhite;
}

.ant-card-head-title {
    color: ghostwhite;
}

.ant-layout-header {
    padding: 0;
}

.notification-message h4{
    font-size: 1.2em !important;
    color: #ffffff;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.top-menu {
    display: flex;
    height: 100%;
}

.bottom-menu {
    flex: 1;
    align-items: flex-end;
}