html {
    min-height: 100%;
}

body {
    height: 100%;
}

.admin-container {
    padding: 25px;
    height: calc(100vh - 64px);
}

.admin-subheader {
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
}

.page-header {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    margin-bottom: 5px;
}

.page-description {
    font-size: 22px;
}

.ant-upload {
    display: block !important;
}

.ant-btn {
    display: block;
    margin: auto;
}